<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-md-4">
    <h3>Evenements</h3>
    <% if signed_in? && @user == current_user %>
      <%= link_to '(Cree un nouvel evenement)', new_event_path %>
    <% end %>
    <ol class="events">
      <%= render @events %>
    </ol>
  </div>
  <div class="col-md-4">
    <h3>Evenement à venir</h3>
    <ol class="events">
      <%= render @upcoming_events %>
    </ol>
  </div>
  <div class="col-md-4">
    <h3>Evenements passés</h3>
    <ol class="events">
      <%= render @past_events %>
    </ol>
  </div>
</div>
